body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.register-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.register-container form {
    display: flex;
    flex-direction: column;
}

.register-container label {
    text-align: left;
    margin-bottom: 8px;
}

.register-container input {
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-container button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.register-container button:hover {
    background-color: #4cae4c;
}
